@{
  Layout = "_Layout";
}

@model TopRestaurants.Models.Restaurant

<h4>ADD A NEW RESTAURANT</h4>
<hr />
@using (@Html.BeginForm())
{
  @Html.LabelFor(model => model.Name, "Name:")
  @Html.TextBoxFor(model => model.Name)
  <hr />
  @Html.LabelFor(model => model.Location, "Location: (e.g. Downtown Portland)")
  @Html.TextBoxFor(model => model.Location)
  <hr />
  @Html.LabelFor(model => model.PriceRange, "Price Range: (enter price range from $ to $$$$$)")
  @Html.TextBoxFor(model => model.PriceRange)
  <hr />

  @Html.LabelFor(model => model.Cuisine)
  @Html.DropDownList("CuisineId")

  <input type="submit" value="Add new restaurant" class="btn btn-default" />
}

<p>@Html.ActionLink("Show all restaurants", "Index")</p>