@{
  Layout = "_Layout";
}

@model TopRestaurants.Models.Restaurant

<h2>Edit</h2>

<h4>Edit this task: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.RestaurantId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)

  @Html.LabelFor(model => model.Location)
  @Html.EditorFor(model => model.Location)

  @Html.LabelFor(model => model.PriceRange)
  @Html.EditorFor(model => model.PriceRange)


  @* @Html.LabelFor(model => model.Catagory)
  @Html.DropDownList("CategoryId") *@

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>